@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("Salvar", "Teste"))
{
    <input id="FirstName" name="FirstName" type="text" />
    <input id="LastName" name="LastName" type="text" />

    <input type="submit" value="Submit Data" id="btnSubmit" />
}